{{- define "main" }}

<article class="post-single game-page">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>

  <div class="game-description post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>

  {{- if .Params.game_file }}
  <div class="game-container">
    <iframe src="{{ .Params.game_file }}"
            width="{{ .Params.game_width | default "800" }}"
            height="{{ .Params.game_height | default "600" }}"
            frameborder="0"
            sandbox="allow-scripts allow-same-origin allow-pointer-lock"
            title="{{ .Title }}">
    </iframe>
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
